:root {
    --primary-color:  #104234; /* Brunswick Green */
    --secondary-color: #191a74; /* Midnight Blue */
    --accent1-color: #e4e5e9; /* Platinum */
    --accent2-color: #acaacd; /* Cool Grey */
    --heading-font: "Trebuchet MS", sans-serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: black;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: white;
    text-align: center;
    padding: 16px;
    background-color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    background-color: var(--secondary-color);
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.hero article {
    position: absolute;
    top: 125px;
    right: 1px;
    color: white;
    width: 450px;
}

.hero article img {
    float: right;
    max-width: 200px;
    height: auto;
    border: 2px white solid;
}