* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid #095A5D;
    --margin: 10px;
    --padding: 10px;
}

body {
    font-size: 16px;
    font-family: Montserrat, Arial, sans-serif;
}

nav { 
    background-color: #095A5D;
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: var(--padding);
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

h1 {
    color: #095A5D;
    padding: var(--padding);
    border-bottom: var(--border);
}

p {
    margin: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}
    main {
        grid-column: 2/3;
        margin: var(--margin);
    }

    aside {
        width: 20rem;
        text-align: center;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    aside h2 {
        position: absolute;
        top: 280px;
        left: 77px;
        color: white;
        font-size: large;
    }

    aside img {
        width: 200px;
        height: auto;
    }

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #dcf1ec;
    color: #000;
}

.indent {
    padding-left: 2rem;
}